// Customized Bootstrap
@import "chameleon/src/sass/variables";
@import "bootstrap/scss/bootstrap";

@import "chameleon/src/sass/animate";
@import "chameleon/src/sass/alert";
@import "chameleon/src/sass/button-input-fonts";
@import "chameleon/src/sass/card";
@import "chameleon/src/sass/icon";
@import "chameleon/src/sass/selection-color";
@import "chameleon/src/sass/carousel";
@import "chameleon/src/sass/code";
@import "chameleon/src/sass/navbar";
@import "chameleon/src/sass/footer";
@import "chameleon/src/sass/table";

// Additional styles, not from Bootstrap
@import "chameleon/src/sass/body";
@import "chameleon/src/sass/megamenu";

// Dark mode
@import "chameleon/src/sass/dark-mode/index";

$headingColor: $gray-600;
$subheadingColor: $gray-800;
$rowBorderColor: $gray-500;
$rowSideGutter: 0.5em;
$rowHoverColor: $link-color;
$navbarColor: $light;
$linkHoverColor: darken($link-color, 0.5);
$linkColor: $link-color;
$maroon: $red;
$grey: $gray-500;
$super-light-grey: $gray-100;


// core elements, shared across pages
@import "hyperkitty/hyperkitty/static/hyperkitty/sass/hyperkitty-common";

// index.html
@import "hyperkitty/hyperkitty/static/hyperkitty/sass/hyperkitty-index";

// thread-related (monthly view, overview's discussion groups)
@import "hyperkitty/hyperkitty/static/hyperkitty/sass/hyperkitty-threadslist";

// overview.html
@import "hyperkitty/hyperkitty/static/hyperkitty/sass/hyperkitty-overview";

// thread.html (discussion view)
@import "hyperkitty/hyperkitty/static/hyperkitty/sass/hyperkitty-message";

// user_profile.html
@import "hyperkitty/hyperkitty/static/hyperkitty/sass/hyperkitty-user";

html {
  font-size: 16px;
}

.logo {
  display: none !important; }

.navbar .container {
  max-width: inherit;
  width: 100%;
  padding: 0;
}
.navbar .navbar-header {
  padding: 0;
  display: flex;
  align-items: center;
  flex: 1 1;
}
@media (max-width: 576px) {
  .navbar .navbar-header {
    flex-flow: row-reverse;
  }
}

:not(nav) .container {
  padding-top: 1rem;
  flex: 1 1 auto !important;
}

footer .container {
  padding-top: 0;
}

nav {
  background-color: transparent;
}

.navbar .navbar-form, .navbar .navbar-form .btn {
  margin: 0 !important;
}


.all-lists nav.sort-mode {
  background-color: transparent;
}

.all-lists nav.sort-mode a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background: #343a40!important;
  }
  .navbar .navbar-brand {
    color: #ffffff;
  }
  .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }
  .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
  }
  .navbar .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
  }
  .navbar .navbar-nav .show > .nav-link,
  .navbar .navbar-nav .active > .nav-link,
  .navbar .navbar-nav .nav-link.show,
  .navbar .navbar-nav .nav-link.active {
    color: #ffffff;
  }
  .navbar .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
  }
  .navbar .navbar-text {
    color: rgba(255, 255, 255, 0.5);
  }
  .navbar .navbar-text a {
    color: #ffffff;
  }
  .navbar .navbar-text a:hover, .navbar .navbar-text a:focus {
    color: #ffffff;
  }
  .navbar .btn-secondary {
    background-color: #212529;
    color: rgba(255, 255, 255, 0.5);
  }
  .navbar .btn-secondary:hover, .navbar .btn-secondary:focus {
    color: rgba(255, 255, 255, 0.75);
  }
  .all-lists table.lists tr td {
    border-color: #495057!important;
  }
  .all-lists table.lists tr.list {
  background-color: #212529; }
  .all-lists table.lists tr.list .list-name {
    color: #fff; }
  .all-lists table.lists tr.list ul.list-stats .fa {
    color: #fff; }
  .all-lists table.lists tr.list .list-tags {
    color: white;
  }
}
