{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>
{% blocktrans %}
Account creation for the openSUSE Mailing Lists is done by
<a href="https://idp-portal.suse.com/univention/self-service/#page=createaccount">creating an account in openSUSE Accounts system</a>. You can also log in using one of the other login methods available on the login page.
{% endblocktrans %}
</p>

{% url LOGIN_URL as login_url %}
<p>{% blocktrans %}Already have an account? Then please <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>


{% endblock %}
